app/code/community
app/code/core
app/design/adminhtml/default
app/design/frontend/base
app/design/frontend/default
app/design/frontend/rwd

app/design/install
app/etc
app/locale
app/Mage.php
app/.htaccess



downloader
errors
includes
js
lib
media
pkginfo
shell
skin
var
.htaccess
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
install.php
mage